/* 상단 네비게이션 바  */
:root {
  --main-color: rgb(180, 225, 244);
  --bright-color: rgba(204, 236, 250, 0.59);
  --back-color: #f6f6f6;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--back-color);
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

#s_in {
  height: 30px;
  width: 75px;
  border: none white;
  background-color: var(--bright-color);
  border-radius: 5px;
  cursor: pointer;
}
#s_up {
  height: 30px;
  width: 75px;
  border: none white;
  background-color: var(--main-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.navbar {
  width: 100%;
  border-bottom: 2.5px solid gray;
}

.navbar_content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: gray;*/
  padding-right: 12px;
  padding-bottom: 0;
}
.navbar_logo img {
  padding-left: 10px;
  width: 80px;
}
.navbar_menu {
  margin: 0;
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-top: 20px;
}
.navbar_menu li {
  padding: 8px 20px;
}
.navbar_menu li:hover {
  background-color: var(--main-color);
  border-radius: 100px;
}

.navbar_search {
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-left: 50px;
}
.navbar_search li {
  padding: 8px 10px;
}
#search_btn {
  background-color: var(--back-color);
  border: none;
}
.Sign_btn {
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.Sign_btn li {
  padding: 8px 10px;
}
.fa-search {
  padding-left: 10px;
  font-size: 20px;
  color: gray;
}
#search_box {
  border-radius: 3px;
  width: 250px;
  height: 30px;
  border: 1px solid gray;
  background-color: white;
}
/*내용*/
.content {
  margin: 0 auto;
  width: 1200px;
  height: 89%;
}
/*사이드바*/
.side_navbar {
  float: left;
  display: flex;
  background-color: var(--bright-color);
  width: 250px;
  height: 100%;
  flex-direction: column;
}
#review_title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.nav_review {
  margin: 0;
  padding: 0 20px 0 10px;
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-shrink: 0;
}
.nav_review li {
  padding: 20px;
}
.nav_review li:hover {
  font-weight: bold;
}
.category {
  margin: 0;
  padding: 10px 20px 0 10px;
  display: flex;
  list-style: none;
  flex-direction: column;
  flex-shrink: 0;
}
.category li {
  padding: 20px;
}
.category li:hover {
  font-weight: bold;
}
/*글쓰기*/
.Writing {
  float: right;
  width: 950px;
  height: 100px;
}
.Writing_box {
  margin: 20px;
  background-color: var(--bright-color);
}
.info {
  padding-left: 30px;
  display: inline-block;
  width: 750px;
}
.fa-plus-square {
  padding-right: 5px;
  font-size: 15px;
}
.Writing_Btn {
  display: inline-block;
}
/*리뷰 글 목록*/
.Reviews {
  margin: 0;
  padding: 0;
  background-color: var(--back-color);
  float: right;
  width: 950px;
}
.Reviews_list {
  padding: 50px 100px 100px 100px;
  list-style: none;
}
.user_review {
  padding: auto;
}
.Reviews_list li {
  padding: 10px 10px 0px 10px;
  border-bottom: 2px solid gray;
}
.review_thumb {
  display: inline-block;
  float: left;
}
.review_lines {
  height: 110px;
  margin: 0 10px 0px 10px;
  display: inline-block;
  width: 60%;
}
.review_title {
  padding: 5px 0 0 10px;
  font-size: 24px;
}
.webtoon_title {
  height: 20px;
  padding: 5px 0 0 10px;
}
.writer {
  text-align: right;
}
.rating {
  display: inline-block;
  width: 20%;
  float: right;
  background-color: yellow;
}
