html {
  width: 100%;
  height: 100%;
}
.box {
  display: table;
  width: 480px;
  height: 450px;
  background: rgb(180, 225, 244);
  border-radius: 80px;
  margin: 100px auto;
}
.box_inner {
  line-height: 50px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.contents {
  display: inline-block;
}
.left {
  text-align: left;
}
.textbox {
  border: 1.3px solid gray;
  width: 250px;
  border-radius: 5px;
  height: 30px;
  margin-left: 10px;
}
table {
  padding-left: 10px;
  text-align: left;
}
#button {
  font-size: 15px;
  height: 40px;
  width: 120px;
  border: none white;
  background-color: white;
  border-radius: 5px;
}
/* 상단 네비게이션 바 */
:root {
  --main-color: rgb(180, 225, 244);
  --bright-color: rgba(204, 236, 250, 0.59);
  --back-color: #f6f6f6;
}
body {
  margin: 0;
  font-family: "Nanum Gothic", sans-serif;
  background-color: var(--back-color);
}

a {
  text-decoration: none;
  color: black;
}

#s_in {
  height: 30px;
  width: 75px;
  border: none white;
  background-color: var(--bright-color);
  border-radius: 5px;
  cursor: pointer;
}
#s_up {
  height: 30px;
  width: 75px;
  border: none white;
  background-color: var(--main-color);
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: gray;*/
  padding-right: 12px;
  padding-bottom: 0;
  border-bottom: 2.5px solid gray;
}
.navbar_logo img {
  padding-left: 10px;
  width: 80px;
}
.navbar_menu {
  margin: 0;
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-top: 20px;
}
.navbar_menu li {
  padding: 8px 20px;
}
.navbar_menu li:hover {
  background-color: var(--main-color);
  border-radius: 100px;
}

.navbar_search {
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-left: 50px;
}
.navbar_search li {
  padding: 8px 10px;
}
#search_btn {
  background-color: var(--back-color);
  border: none;
}
.Sign_btn {
  flex-shrink: 0;
  display: flex;
  list-style: none;
  padding-left: 0;
}
.Sign_btn li {
  padding: 8px 10px;
}
.fa-search {
  padding-left: 10px;
  font-size: 20px;
  color: gray;
}
#search_box {
  border-radius: 3px;
  width: 250px;
  height: 30px;
  border: 1px solid gray;
  background-color: white;
}
